<aside class="admin-nav">
    <article class="admin-nav-section">
        <h1>Catégories</h1>
        <div>
            <a href="{{ path('app_admin_categories_index') }}">Liste des catégories</a>
            <br>
            <a href="#">Ajouter une catégorie</a>
        </div>
    </article>
    <article class="admin-nav-section">
        <h1>Produits</h1>
        <div>
            <a href="{{ path('app_admin_products_index') }}">Liste des produits</a>
            <br>
            <a href="{{ path('app_admin_products_add') }}">Ajouter un produit</a>
        </div>
    </article>
    <article class="admin-nav-section">
        <h1>Utilisateurs</h1>
        <div>
            <a href="{{ path('app_admin_users_index') }}">Liste des utilisateurs</a>
        </div>
    </article>
</aside>