{% extends 'base.html.twig' %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<h1>Réinitialisation du mot de passe</h1>
{{ form(resetPassForm) }}
{% endblock %}