{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}
    {% include "_partials/_admin_nav.html.twig" %}
    <h1 class="text-center">Interface d'administration</h1>
{% endblock %}