/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles (most use Tailwind pre-made classes) */
@layer components{

    /* HTML tags customisation */
    main{
        @apply
            px-10
        ;
    }

    /* Message box classes */
    .message-box{
        @apply
            border-2
            rounded-xl
            p-4
            shadow-md
            font-bold
            text-center
            mb-4
            items-center
            justify-center
            w-full
        ;
    }
    .dismissible-message-box{
        @apply
            hidden
            data-[te-alert-show]:inline-flex
        ;
    }
    .danger-message-box{
        @extend .message-box;
        @apply
            border-danger-500
            bg-danger-300
        ;
    }
    .info-message-box{
        @extend .message-box;
        @apply
            border-primary-500
            bg-primary-300
        ;
    }
    .warning-message-box{
        @extend .message-box;
        @apply
            border-warning-500
            bg-warning-300
        ;
    }
    .success-message-box{
        @extend .message-box;
        @apply
            border-success-500
            bg-success-300
        ;
    }

    /* Button classes */
    .button{
        @apply
            text-white
            font-bold
            py-2
            px-4
            rounded
            focus:outline-none
            focus:ring-2
            focus:ring-opacity-75
        ;
    }
    .primary-button{
        @extend .button;
        @apply
            bg-primary-500
            hover:bg-primary-700
            focus:ring-primary-900
        ;
    }
    .validate-button{
        @extend .button;
        @apply
            bg-success-500
            hover:bg-success-700
            focus:ring-success-900
        ;
    }
    .cancel-button{
        @extend .button;
        @apply
            bg-danger-500
            hover:bg-danger-700
            focus:ring-danger-900
        ;
    }

    /* Other custom classes */
    .navbar{
        @apply
            flex-nowrap
            relative
            flex
            w-full
            items-center
            justify-between
            bg-[#FBFBFB]
            py-2 shadow-md
            shadow-black/5
            dark:bg-neutral-600
            dark:shadow-black/10
            lg:flex-wrap
            lg:justify-start
            lg:py-4
        ;
    }
    .pagination-bar{
        @apply
            mt-5
            w-full
            flex
            justify-center
        ;
    }
    .admin-nav{
        @apply
            space-y-2
        ;
    }
    .admin-nav-section{
        @apply
            block
            max-w-[18rem]
            rounded-lg
            border
            border-neutral-500
            bg-white
            shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
            dark:bg-neutral-600
        ;
    }
    .admin-nav-section > div{
        @apply
            px-6
            py-3
        ;
    }
    .admin-nav-section > a{
        @apply
            text-base
            text-black
            dark:text-neutral-50
        ;
    }
    .admin-nav-section > h1{
        @apply
            border-b-2
            border-[#0000002d]
            px-6
            py-3
            text-neutral-600
            dark:text-neutral-50
        ;
    }
    .thumbnail{
        height: 50px;
        width: auto;
    }
}