<h1>Réinitialisation de votre mot de passe</h1>
<hr>
<p>Bonjour {{ user.firstname }} !</p>
<p>Pour votre demande de réinitialisation de mot de passe, vous pouvez effectuer cette opération en cliquant <a href="{{ url|raw }}">ici</a>.</p>
<p style="font-style: italic;">Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email.</p>
<p>
    Cordialement,<br>
    L'équipe de votre site e-commerce !
</p>