<!--
    (Alt + Z)
    This file just contains a few divs with specific classes in order to allow these classes to be compiled by npm run build. Else, they're not detected as they're dynamically used.
-->

<div class="info-message-box"></div>
<div class="danger-message-box"></div>
<div class="success-message-box"></div>
<div class="warning-message-box"></div>
<div class="dismissible-message-box"></div>