<!--
    (Alt + Z)
    This file just contains a few divs and spans with specific classes in order to allow these classes to be compiled by `npm run build`. Else, they're not detected and compiled as they're dynamically displayed. Once the SCSS file is compiled and the website is running in production, you can remove this file from the production version as it is useless for it.
-->

<div class="info-message-box"></div>
<div class="danger-message-box"></div>
<div class="success-message-box"></div>
<div class="warning-message-box"></div>
<div class="dismissible-message-box"></div>
<span class="ROLE_ADMIN-badge"></span>
<span class="ROLE_PRODUCT_ADMIN-badge"></span>
<span class="ROLE_USER-badge"></span>