{% extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}
{% block body %}
<h1>Erreur : accès non-autorisée.</h1><hr>
<p>Vous essayez d'accéder à un page à laquel vous n'avez pas accès. Il y a pourtant de chouettes choses à voir ailleurs sur notre site. =(</p>
{% endblock %}