{% extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}
{% block body %}
<h1>Erreur : page non-trouvée ou inexistante.</h1><hr>
<p>Oups, il semblerait que l'on vous ait mal indiqué votre route. =(</p>
{% endblock %}